<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's this all about?</h2>
                    <h3 class="section-subheading text-muted">
                      BarCamp is an ad-hoc unconference born from the desire for people to share and learn in an open environment.<br/>
                      It is an intense event with discussions, demos and interaction from attendees.<br/>
                      All presentations are scheduled the day they happen. <br/>
                      Prepare in advance, but come early to get a slot on the wall.<br/>
                      The people present at the event will select the demos or presentations they want to see.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community And Information</h4>
                    <p class="text-muted">Anyone with something to contribute or with the desire to learn is welcome and invited to join.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">No Spectators, only participants</h4>
                    <p class="text-muted">
                      Attendees must give a demo, a session, or help with one, or otherwise volunteer / contribute in some way to support the event.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Share, Share, Share</h4>
                    <p class="text-muted">
                      Be prepared to share with everybody at the event!<br/>
                      Presenters are responsible for making sure that notes/slides/audio/video of their presentations are published on the web for the benefit of all and those who can’t be present.
                    </p>
                </div>
            </div>
        </div>
    </section>
