<!-- About Section -->
    <section id="sponsors">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <h3 class="section-subheading text-muted">Without their support this wouldn't have happend. Give them a shoutout!</h3>
            </div>
          </div>
          <div class="row sponsor-margin">
            {% for sponsor in site.sponsors.row1 %}
              {% assign size = 12 | divided_by: site.sponsors.row1.size %}
              <div class="col-md-{{size}} col-sm-{{size}}">
                <a href="{{sponsor.url}}">
                  <img src="{{sponsor.img_url}}" class="{{sponsor.css_class}}" alt="sponsor.name">
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            {% for sponsor in site.sponsors.row2 %}
              {% assign size = 12 | divided_by: site.sponsors.row2.size %}
              <div class="col-md-{{size}} col-sm-{{size}}">
                <a href="{{sponsor.url}}">
                  <img src="{{sponsor.img_url}}" class="{{sponsor.css_class}}" alt="{{sponsor.name}}">
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
    </section>
